<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de espacios de parqueadero</title>
</head>
<body>
    <a href="/parkingApp/piso/list">Listar pisos</a>
    <a href="/parkingApp/piso/create">Crear nuevo piso</a>
    <a href="/parkingApp/tipoVehiculo/list">Listar tipos de vehículos</a>
    <a href="/parkingApp/tipoVehiculo/create">Crear nuevo tipo de vehículos</a>

</body>
</html>