<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piso list</title>
</head>
<body>
    <h1>Piso list</h1>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${success}" class="success-message">
        <p th:text="${success}"></p>
    </div>
    <ul>
        <li th:each="piso : ${allPisos}">
            <p th:text="|${piso.toString()}|"></p>
            <a th:href="@{/parkingApp/piso/view/{idPiso}(idPiso=${piso.id})}">View</a>
            <a th:href="@{/parkingApp/piso/delete/{idPiso}(idPiso=${piso.id})}">Delete</a>
            <a th:href="@{/parkingApp/piso/edit/{idPiso}(idPiso=${piso.id})}">Edit</a>
        </li>   
    </ul>
    
</body>
</html>
