<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit piso</title>
</head>
<body>
    <h1>Edit piso</h1>

    <form th:action="@{/parkingApp/piso/save}" method="post" th:object="${piso}">
        <input type="hidden" th:field="*{id}">
    
        <label for="txtTipoVehiculo">Tipo de vehículos permitidos:</label>
        <input type="text" id="txtTipoVehiculo" th:field="*{tipoVehiculo.tipo}">

        <label for="txtTotalVehiculos">¿Cuántos vehículos desea agregar?:</label>
        <input type="text" id="txtTotalVehiculos" th:field="*{totalVehiculos}">

        <button type="submit">Enviar</button>
    </form>    
    <a th:href="@{/parkingApp/piso/list}">Volver</a>
</body>
</html>
