<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit piso</title>
</head>
<body>
    <h1>Edit piso</h1>

    <form th:action="@{/parkingApp/piso/save}" method="post" th:object="${piso}">
        <input type="hidden" th:field="*{id}">
    
        <label for="txtTipoVehiculo">Tipo de vehículos permitidos:</label>
        <input type="text" id="txtTipoVehiculo" th:field="*{tipoVehiculo}">

        <button type="submit">Enviar</button>
    </form>    
</body>
</html>
